<body background="http://thewowstyle.com/wp-content/uploads/2015/04/spring-desktop-backgrounds-hd.jpg">

<center><h1> The to do list: </h1>

<table>
 <% @todo.each do |t| %>
  <tr>
    <td>
      <form action ="complete_todo">
        <input type ="checkbox" name = "completed">
      </form>
    </td>
    <td>
      <%=t.priority_access.priority%>
    <td>
      <a href="/todo_page/<%=t.id%>">
      <%= t.title %>
      </a>
    </td>
    <td>
      <form action = "/todos/edit/form/<%=t.id%>">
        <input type="submit" value="Edit">
      </form>
    </td>
    <td>
      <form action="/delete_todo/<%=t.id%>" method = "post">
        <input type="submit" value="Delete">
      </form>
    </td>
    <td>
    <%=t.user_access.name%>
  </tr>
<%end%>
</table>
<br>
<br>
<a href="/">Home</a>
| <a href="/new_todo_form">Add a task to do!</a> | 
<a href="/logout">Log out</a> |
</center></body>